
{% extends 'base.jinja' %}

{% block bodyclass %}posts-by-tag{% endblock %}


{% block content %}

{% for tag in site.tags|sort(attribute="name") %}
    <h2>{{ site.tags[tag].name|title }}</h2>

    {% for post in site.tags[tag].posts|sort(attribute="date") %}
        <article class="post-article">
            <p class="post-date">{{ post.pub_date }}</p>
            <p class="post-link">
                <a href="{{ post.url }}">{{ post.title }}</a>
            </p>
        </article>
    {% endfor %}

{% endfor %}

{% endblock %}
