<ul class="recent-posts">
    {% for post in site.posts[:5] %}
    <li>
        <article class="post-article">
            <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
            <br>
            <span class="post-date">{{ post.pub_date|format_date_html }}</a>
        </article>
    </li>
{% endfor %}
</ul>

